.husky/*
.vscode/*
.editorconfig
.gitignore
.prettierignore
.prettierrc
index.html
package.json
postcss.config.js
README.md
tailwind.config.js
tsconfig.json
tsconfig.node.json
vite.config.ts
yarn.lock
